<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Spaci</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/main.css" rel="stylesheet">
		{{{isAdminEditorCSS user}}}

	</head>
	<body id="{{section}}">
		{{> global/header }}
		<div>

			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			{{{body}}}
		</div>
		<div class="">
			<div id="footer">
			</div>
			{{> global/footer}}
		</div>
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
	<script src="/js/bundle.js" type="text/javascript"></script>
	<script type="text/javascript">
		(function() {
		  var body = document.body;
		  var burgerMenu = document.getElementsByClassName('b-menu')[0];
		  var burgerContain = document.getElementsByClassName('b-container')[0];
		  var burgerNav = document.getElementsByClassName('b-nav')[0];

		  burgerMenu.addEventListener('click', function toggleClasses() {
		    [body, burgerContain, burgerNav].forEach(function (el) {
		      el.classList.toggle('open');
		    });
		  }, false);
		})();
	</script>
</html>
