<!--
Need to create a JSON object and connect to endpoint
{
  author: "bob",
  date: "January 20, 2018",
  title: "Test",
  description: "blah blah blah blah",
  image: "/images/h2-banner-blue.jpg",
}-->
<section id="section-stories">
  <div id="section-stories_wrapper" class="section_wrapper padding">
    <div id="section-stories_text" class="section_text">
      <div class="headline">
        <img src="/images/h2-banner-blue.jpg" class="banner"/><h2>Latest Stories</h2><img src="/images/h2-banner-blue.jpg" class="banner"/>
      </div>
      {{#each latestNews}}
        {{#if featured}}
          <!--only display 3  couldn't find a way to limit-->
            <div class="one-third">
              <section class="section-top" style="background-image:url({{image}})">
                <div class="latest-stories-image"><p class="date">{{ dateOf }}</p></div>
              </section><br />
              <section class="section-bottom">
                <h4 class="title">{{ title }}</h4>
                <p class="author"><em>{{ author }}</em></p>
                <p class="description">{{ description }}</p>
                <br />
                <p><a class="read-more" href="{{ link }}">Read More</a></p>
              </section>
            </div>
        {{/if}}
      {{/each}}
    </div>
    <br />
    <button class="faites-button button" type="button">More Stories</button>
  </div>
</section>
