<section class="section section-stories">
  <div class="section__title">
    <h2>Nouvelles</h2>
  </div>
    <div class="section-stories__content">
      <div class="section-stories__content--stories">
      {{#each latestNews}}
        {{#if featured}}
            <div class="story">
              <div class="story__top">
                <div class="story__top--image" style="background: url('{{image}}') no-repeat center center;	background-size:cover;"></div>
                <div class="story__top--date">{{ dateOf }} </div>
              </div>
              <div class="story__bottom">
                <h4 class="story__bottom--title">{{ title }}</h4>
                <p class="story__bottom--author"><em>{{ author }}</em></p>
                <p class="story__bottom--description">{{ description }}</p>
                <span class="story__bottom--link"><a class="link" href="{{ link }}">Read More</a></span>
              </div>
            </div>
        {{/if}}
      {{/each}}
    </div>
    <div class="section-stories__content--button">
      <button class="button" type="button">D'autres Nouvelles</button>
    </div>
  </div>
</section>
