<div class="footer">
    <div class="columns">
        <div class="column">
            <ul class="link-list">
                {{# each navLinks}}
                  <li {{#ifeq ../section key}} class="link-item active"{{else}}class="link-item"{{/ifeq}}>
                      <a class="link" href="{{ href }}">{{ label }}</a>
                  </li>
                {{/each}}
                <li {{#ifeq ../section key}} class="link-item active"{{else}}class="link-item"{{/ifeq}}>
                    <a class="link" href="{{ href }}">Politique de confidentialité</a>
                </li>
            </ul>
        </div>
        <div class="column questions">
          <h3>Vous voulez en savoir plus?</h3>
          <br />
          <p>Écrivez nous à l'une des adresses suivantes : <a class="mail-link" href="mailto:spanimaux.ci@gmail.com">spanimaux.ci@gmail.com</a> ou <a class="mail-link" href="mailto:cpanimaux.ci@gmail.com">cpanimaux.ci@gmail.com</a>.  Vous pouvez aussi vous rendre sur la page Facebook du Comité de Protection des Animaux (CPA): <a class="link" href="https://fr-fr.facebook.com/cpanimaux/">https://fr-fr.facebook.com/cpanimaux/</a>.</p>
        </div>
        <!--<div class="column subscription">
            <h3>Vous voulez en savoir plus?</h3>
            <p>Subscribe to our news letter to receive the latest news and updates on our cause and animals</p>
            <form class="subscription-form">
                <input type="text" name="email" placeholder="example@email.com">
                <button class="subscription-button" >Subscribe</button>
            </form>
        </div>-->
        <div class="column location">
            <h3>Localisation</h3>
            <div id="map"></div>
             <script>
               function initMap() {
                 var uluru = {lat: 5.3005438, lng: -3.9871997};
                 var map = new google.maps.Map(document.getElementById('map'), {
                   zoom: 8,
                   center: uluru
                 });
                 var marker = new google.maps.Marker({
                   position: uluru,
                   map: map
                 });
               }
             </script>
             <script async defer
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFJXB2kSiaaeh6rzqsVcGGtmIgrZ9hCgc&callback=initMap">
             </script>
        </div>
    </div>
    <!-- {{#if user}}
    <li><a href="/keystone/signout">Sign Out</a></li>
    {{else}}
    <li><a href="/keystone/signin">Sign In</a></li>
    {{/if}} -->
    <p class="copyright">© <script type="text/javascript">document.write (new Date().getFullYear());</script> Secours et Protection des Animaux de Côte d’Ivoire. Tous droits réservés.</p>
</div>
