<div class="header">
    <div class="container">
        <div role="navigation" class="header-content">
            <div class="header-content_logo">
                <a href="/" class=""><img src="/images/spaci-logo.png" class="logo-img" alt="spaci"/></a>
            </div>
            <div class="header-content__links">
                  {{#each navLinks}}
                    <div {{#ifeq ../section key}} class="link active"{{else}}class="link"{{/ifeq}}>
                        <a href="{{ href }}">{{ label }}</a>
                    </div>
                  {{/each}}
           </div>
           <!-- DO NOT DELETE -->
           <!-- Navigation for Burger-Icon-->
           <div class="b-nav">
           {{#each navLinks}}
             <div {{#ifeq ../section key}} class="link active"{{else}}class="link"{{/ifeq}}>
                 <li><a class="b-link" href="{{ href }}">{{ label }}</a></li>
             </div>
           {{/each}}
          </div>

          <!-- Burger-Icon -->
          <div class="b-container">
           <div class="b-menu">
             <div class="b-bun b-bun--top"></div>
             <div class="b-bun b-bun--mid"></div>
             <div class="b-bun b-bun--bottom"></div>
           </div>
         </div>
            <!--
             <div class="container-fluid">
                <div class="">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a href="/" class=""><img src="/images/spaci-logo.png" class="logo-img" alt="spaci"/></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="">
                          # each navLinks
                            <li #ifeq ../section key class="active"else /ifeq>
                                <a href="href"> label </a>
                            </li>
                          /each
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        #if user
                        <li><a href="/keystone/signout">Sign Out</a></li>
                        else
                        <li><a href="/keystone/signin">Sign In</a></li>
                        /if
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>
